.header-dark {
  background: linear-gradient(to bottom right, #663300 0%, #990099 100%);

  background-size: cover;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .header-dark {
    padding-bottom: 120px;
  }
}

.header-dark .navbar {
  background: transparent;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.container {
  padding: 30px;
  position: relative;
  background: linear-gradient(to bottom right, #663300 0%, #990099 100%);
  text-align: center;
  background-size: 500% 500%;
}

@keyframes change-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container-heading {
  margin: 0;
}

.heading_font {
  color: #ff9900;
  font-family: "Pacifico", cursive;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
}

.description p {
  color: #ff9900;
  font-style: italic;
  font-size: 14px;
  margin: -5px 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  .header-dark .navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.header-dark .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.header-dark .navbar .navbar-brand:hover {
  color: #ff0000;
}

.header-dark .navbar .navbar-collapse span {
  margin-top: 5px;
}

.header-dark .navbar .navbar-collapse span .login {
  color: #fa2d2d;
  margin-right: 0.5rem;
  text-decoration: none;
}

.header-dark .navbar .navbar-collapse span .login:hover {
  color: rgb(248, 83, 83);
}

.header-dark .navbar .navbar-toggler {
  border-color: #620cd3;
}

.header-dark .navbar .navbar-toggler:hover,
.header-dark .navbar-toggler:focus {
  background: none;
}

.header-dark .navbar .navbar-toggler {
  color: rgb(255, 60, 60);
}

.header-dark .navbar .navbar-collapse,
.header-dark .navbar form {
  border-color: #8d08b6;
}
.my-cta-button {
  background: #ff9900;
  border: 2px solid #000000;
  border-radius: 1000px;
  box-shadow: 3px 3px #ff9900;
  margin-top: 10px;
  padding: 10px 36px;
  color: #000000;
  display: inline-block;
  font: italic bold 20px/1 "Calibri", sans-serif;
  text-align: center;
}

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color: #ff2f2f;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus,
.header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff3425 !important;
  background-color: transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 68, 68);
  border-radius: 2px;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus,
.header-dark .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #3700ff;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus,
.header-dark .navbar .dropdown-menu .drodown-item:hover {
  background: #fd5126;
}

.header-dark .navbar .action-button,
.header-dark .navbar .action-button:active {
  background: #2206c2;
  border-radius: 20px;
  font-size: inherit;
  color: rgb(250, 66, 66);
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 0.8rem;
  transition: background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background: #9c2305;
}

.header-dark .navbar label {
  color: rgb(184, 18, 18);
}

.header-dark .navbar form .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: rgb(248, 43, 43);
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-dark .navbar form .search-field:focus {
  border-bottom: 1px solid rgb(236, 55, 55);
}

.header-dark .hero {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .header-dark .hero {
    margin-top: 20px;
  }
}

.header-dark .hero h1 {
  color: rgb(243, 49, 49);
  font-family: "Bitter", serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .header-dark .hero h1 {
    margin-bottom: 50px;
    line-height: 1.5;
  }
}

.header-dark .hero .ratio iframe {
  background: linear-gradient(to bottom right, #663300 0%, #990099 100%);
}
